@CHARSET "ISO-8859-1";

body { 
  background: url(../images/Login_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#forgotPassword
{
	color: #4863A0;
	text-decoration: underline;
}

#forgotPassword:hover
{
	text-decoration: none;
}